header(class="bg-red-800 text-white shadow-md p-4")
    nav(class="max-w-6xl mx-auto flex justify-center space-x-12 text-2xl uppercase tracking-widest font-semibold kenpo-font")
        a(
            href="/philosophy"
            class="hover:text-green-700 hover:scale-110 hover:drop-shadow-md transform transition-all duration-300 ease-in-out"
        ) Philosophy
        a(
            href="/history"
            class="hover:text-green-700 hover:scale-110 hover:drop-shadow-md transform transition-all duration-300 ease-in-out"
        ) History of Kenpo
        a(
            href="/faqs" 
            class="hover:text-green-700 hover:scale-110 hover:drop-shadow-md transform transition-all duration-300 ease-in-out"
        ) FAQ's
        a(
            href="/login" 
            class="hover:text-green-700 hover:scale-110 hover:drop-shadow-md transform transition-all duration-300 ease-in-out"
        ) Training Portal